# This should match the list of maintainers in https://github.com/orgs/opensearch-project/teams/dashboards-anywhere-team-maintainers
*   @seraphjiang @zhongnansu @kristenTian @Flyingliuhub @BionIT @zengyan-amazon @himanshu1214